html {
	height: 100%;
	overflow: hidden
}

body {
	background-color: transparent;
	font-family: "HelveticaNeue-UltraLight","Helvetica";
	height: 100%;
	margin: 0;
	padding: 0
}

#gestures_canvas {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2
}
