#btnPower, #btnRewind, #btnPlay, #btnForward, #btnRoom, #btnMute {
	background-size: auto 27px !important;
}

#btnTitles, #btnCommands {
	background-size: contain;	
	height: 40px;
}

#frmRoom {
	position: absolute;
	height: 100px;
	bottom: 0px;
	right: 0px;
}

#frmDevice {
	position: absolute;
	top: 100px;
	right: 0px;
}