Author: treAson <shitburg@yahoo.com>
Maintainer: treAson <shitburg@yahoo.com>
Name: gesturePad
Package: com.treason.gesturePad
Depends: firmware (>= 5.0)
Section: Utilities
Version: 1.1.7
Architecture: iphoneos-arm
Description: HTTP to IR gateway
Depiction: http://treason.github.com/gesturePad/
Homepage: http://treason.github.com/gesturePad/
Sponsor: treAson <shitburg@yahoo.com>>
dev: treason
